.dashboard-content {
    text-align: center;
}

.title {
    text-align: center; /* Center the title */
    background-color: rgba(255, 255, 255, 0.9); /* Opaque white background */
    margin: 0 auto; /* Center the title block horizontally */
    padding: 10px; /* Add some padding */
    width: fit-content; /* Adjust width to fit the content */
    border-radius: 5px; /* Optional: add rounded corners */
}

.card-img {
    width: 100px;
    height: 100px;
}

.card {
    text-align: left;
    padding: 20px;
}

.card-body {
    padding-left: 32px;
    overflow-wrap: anywhere;
}

.card-img {
    margin-top: 20px;
}

.card-img-container {
    position: relative;
    width: 100%;
}

.overlay-checkmark {
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/Green-checkmark.svg/1200px-Green-checkmark.svg.png');
    background-color: rgba(255, 255, 255, 0.3);
    width: 100px;
    height: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px;
}

.form-check {
    display: none;
}