.card-img {
    width: 100px;
    height: 100px;
}

.card {
    text-align: left;
    padding: 20px;
}

.card-body {
    padding-left: 32px;
    overflow-wrap: anywhere;
}

.card-img {
    margin-top: 20px;
}