<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your Albums</title>
</head>
<body>
    <h1>Randomly Selected Album</h1>
    {% if rand_album %}
        <p>{{ rand_album['album']['name']}} by {{rand_album['album']['artists'][0]['name']}} </p>
        <img src="{{rand_album['album']['images'][0]['url']}}" alt="Album Cover">
    {% endif %}
    <h1>Your Albums</h1>
    {% if albums %}
        <ul>
        {% for item in albums %}
            <li>{{ item.album.name }} by {{ item.album.artists[0].name }}</li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No albums found in your library.</p>
    {% endif %}
    <a href="/">Back to Home</a>
</body>
</html>
